* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(30,33,36);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(153, 153, 159);
	border-radius: 50px 50px 50px 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(120, 121, 122);
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95)), url(background.jpg);
	background-size: cover;
	background-position: center;
}

.navbar {
	width: 97%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;
	color: rgb(183, 183, 189);
}

.navbar ul li::after {
	content: "";
	width: 0%;
	height: 2.5px;
	background: rgb(147, 148, 158);
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}

.navbar ul li:hover::after {
	width: 100%;
}

.intro {
	width: 100%;
	position: absolute;
	top: 20%;
	text-align: center;
	color: rgb(147, 148, 158);	
}

.intro h1 {
	font-size: 50px;
	margin: 25px;
	font-family: 'Roboto Mono', monospace;
}

.intro p {
	font-size: 15px;
	line-height: 1.7em;
	font-family: 'Roboto Mono', monospace;
	padding-left: 15%;
	padding-right: 15%;
}

@media only screen and (max-width: 45em) {
	.intro p {
		text-align: left;
	}
}

.intro img {
	width: 15%;
	height: 15%;
	border: 4px solid rgb(147, 148, 158);
	border-radius: 50%;
}

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	background-color: rgb(30,33,36);
}

html{scroll-behavior:smooth}

.projTitle {
	text-align: center;
	color: rgb(147, 148, 158);
	background-color: rgb(30,33,36);
	font-family: 'Roboto Mono', monospace;
}

.grid {
	display: grid;
	width: 110em;
	grid-template-columns: repeat(auto-fit, minmax(27em, 10em));
	align-items: start;
}

.grid-item {
	background-color: rgb(30,33,36);
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.95);
	transition: 0.2s;
	cursor: pointer;
}

.grid-item a {
	text-decoration: none;
}

.grid-item:hover {
	transform: translateY(-0.5%);
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.95);
}

.card-img {
	display: block;
	width: 100%;
	height: 25rem;
	object-fit: cover;
}

.card-content {
	padding: 1rem;
	padding-left: 1rem;
	color: rgb(184, 184, 185);
}

.card-header {
	font-size: 3rem;
	font-weight: 200;
	margin-bottom: 1rem;
	font-family: 'Roboto Mono', monospace;
}

.card-text {
	font-size: 1rem;
	letter-spacing: 0.1rem;
	line-height: 1.7em;
	font-family: 'Roboto Mono', monospace;
}

@media screen {
	.grid {
		grid-gap: 4rem;
		justify-content: center;
	}

	.projects {
		padding-top: 4rem;
		padding-bottom: 7rem;
	}

	.projTitle {
		padding-top: 3rem;
	}
}

@keyframes slide_animation {
	0% {
		left: 0px;
	}
	10% {
		left: 0px;
	}
	20% {
		left: 1000px;
	}
	30% {
		left: 1000px;
	}
	40% {
		left: 1000px;
	}
	50% {
		left: 1000px;
	}
	60% {
		left: 1000px;
	}
	70% {
		left: 00px;
	}
	80% {
		left: 0px;
	}
	90% {
		left: 0px;
	}
	100% {
		left: 0px;
	}
}

.languages {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(40,43,48);
}

.lanTitle {
	color: rgb(147, 148, 158);
	text-align: center;
	background-color: rgb(40,43,48);
	padding-top: 40px;
	font-family: 'Roboto Mono', monospace;
}

.custom-shape-divider-top-1649833072 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1649833072 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
	background-color: rgb(40,43,48);
}

.custom-shape-divider-top-1649833072 .shape-fill {
    fill: #1E2124;
}

.custom-shape-divider-bottom-1649832678 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649832678 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 100px;
	background-color: rgb(40,43,48);
}

.custom-shape-divider-bottom-1649832678 .shape-fill {
    fill: #1E2124;
}

.slider-frame {
	padding: 0;
	margin: 10px;
	background-color: rgb(40,43,48);
	overflow: hidden;
	height: 140px;
	width: 1000px;
	padding-bottom: 25px;
}

.slide-imgs {
	width: 2000px;
	position: relative;
	margin: 0 0 0 -1000px;
	animation-name: slide_animation;
	-webkit-animation-name: slide_animation;
	animation-duration: 12s;
	-webkit-animation-duration: 12s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.img-container img {
	height: 100px;
	width: 100px;
	margin-top: -20;
	padding: 50px;
	float: left;
}

.expTitle {
	color: rgb(147, 148, 158);
	text-align: center;
	background-color: rgb(30,33,36);
	padding-top: 48px;
	font-family: 'Roboto Mono', monospace;
}

.experience {
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: rgb(30,33,36);
	padding: 3.5% 15% 1% 15%;
}

.box {
	line-height: 1.5em;
	display: flex;
	align-items: stretch;
	justify-content: center;
	letter-spacing: 0.1rem;
	padding: 2.5rem;
}

.head {
	display: flex;
	align-items: stretch;
	justify-content: left;
	margin-left: -12px;
}

.box-img {
	height: 100px;
	width: 100px;
	padding-right: 30px;
	margin-top: -15px;
}

.title {
	color: rgb(147, 148, 158);
	width: 350px;
	font-family: 'Roboto Mono', monospace;
}

.text {
	color: rgb(157, 158, 168);
	font-size: 1rem;
	letter-spacing: 0.1rem;
	line-height: 1.7em;
	margin-left: 80px;
	margin-top: -8px;
	width: 750px;
	font-family: 'Roboto Mono', monospace;
	word-wrap: break-word;	
}

.footer {
	color: #93949e;
	text-align: center;
	background-color: rgb(30,33,36);
	font-family: 'Roboto Mono', monospace;
	padding-bottom: 20px;
}

@media only screen and (max-width: 85em) {
	.experience {
		padding: 10%;
		padding-bottom: 1%;
		padding-top: 5%;
	}
	.box {
		padding: 20px;
		display: grid;
	}
	.text {
		margin-left: 0px;
		margin-top: 10px;
	}
}

.experience hr {
	border: 1px solid rgb(40,43,48);
	width: 77%;
	align-items: center;
	margin: auto;
}